In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time 
import requests

In [3]:
driver=webdriver.Chrome()

Q:1

In [6]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [15]:
NAME_tags=[]
artist_tags=[]
upload_tags=[]
views_tags=[]

In [21]:
name_title=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody//tr/td[1]")

for i in name_title:
    name=i.text
    NAME_tags.append(name)

In [23]:
artist_title=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody//tr/td[2]")

for i in artist_title:
    artist=i.text
    artist_tags.append(artist)

In [16]:
views_title=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody//tr/td[3]")

for i in views_title:
    views=i.text
    views_tags.append(views)

In [17]:
upload_title=driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter']/tbody//tr/td[4]")

for i in upload_title:
    upload=i.text
    upload_tags.append(upload)

In [24]:
print(len(NAME_tags),len(artist_tags),len(upload_tags),len(views_tags))

30 30 30 30

In [26]:
df=pd.DataFrame({"Name":NAME_tags,"Artist":artist_tags,"Views":views_tags,"Upload Date":upload_tags})

In [27]:
df

,Name,Artist,Views,Upload Date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

Q:2

In [61]:
driver.get("http://www.bcci.tv/")

In [62]:
search=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
search.click()

In [63]:
Series_tags=[]
Place_tags=[] 
Date_tags=[] 
Time_tags=[]

In [64]:
series_title=driver.find_elements(By.XPATH,"//div[@class='tags-wrap']/span[1]")
for i in series_title:
    series=i.text
    Series_tags.append(series)

In [66]:
place_title=driver.find_elements(By.XPATH,"//div[@class='match-place ng-scope']/span[1]")

for i in place_title:
    place=i.text
    Place_tags.append(place)

In [69]:
date_title=driver.find_elements(By.XPATH,"//div[@class='match-date-info']/div[1]")

for i in date_title:
    date=i.text
    Date_tags.append(date)

In [70]:
time_title=driver.find_elements(By.XPATH,"//div[@class='match-date-info']/div[2]")

for i in time_title:
    time=i.text
    Time_tags.append(time)

In [71]:
print(len(Series_tags),len(Place_tags),len(Date_tags),len(Time_tags))

7 7 7 7

In [72]:
df=pd.DataFrame({"Series":Series_tags,"Place":Place_tags,"Date":Date_tags,"Time":Time_tags})

In [73]:
df

,Series,Place,Date,Time
0,4th Test,"JSCA International Stadium Complex,","23 FEBRUARY, 2024",9:30 AM IST
1,5th Test,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024",9:30 AM IST
2,1st T20I,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
3,2nd T20I,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
4,3rd T20I,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
5,4th T20I,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
6,5th T20I,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

Q:3

In [11]:
driver.get("http://statisticstimes.com/")

In [12]:
State_tags=[] 
GSDP_tags=[] 
GSDP_tags=[]
Share_tags=[] 
GDPbillion_tags=[]

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search.click()

In [13]:
product_urls=[]
start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,"//div[@class='dropdown-content']/a[3]")
    for i in url:
        product_urls.append(i.get_attribute("href"))

In [14]:
len(product_urls)

2

In [20]:
for url in product_urls:
    driver.get(url)
    time.sleep(10)

In [24]:
state_title=driver.find_elements(By.XPATH,"//table[@class='display dataTable']//tbody//tr/td[2]")

for i in gdp_title:
    state=i.text
    State_tags.append(state)

Q:5

In [10]:
driver.get("https://www.billboard.com/")

In [13]:
Song_tags=[]
Artist_tags=[]
LWR_tags=[] 
PR_tags=[]
Weeksonboard_tags=[]

In [11]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
search.click()

In [12]:
search_x=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div")
search_x.click()

In [14]:
song_title=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']//li/h3")

for i in song_title:
    song=i.text
    Song_tags.append(song)

Q:6

In [4]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [5]:
book_tags=[]
author_tags=[]
volumes_tags=[]
publisher_tags=[]
genre_tags=[]

In [7]:
book_title=driver.find_elements(By.XPATH,"//tbody//tr/td[2][@class='left']")

for i in book_title:
    book=i.text
    book_tags.append(book)

In [9]:
author_title=driver.find_elements(By.XPATH,"//tbody//tr/td[3][@class='left']")

for i in author_title:
    author=i.text
    author_tags.append(author)

In [11]:
volumes_title=driver.find_elements(By.XPATH,"//tbody//tr/td[4][@class='left']")

for i in volumes_title:
    volumes=i.text
    volumes_tags.append(volumes)

In [13]:
publisher_title=driver.find_elements(By.XPATH,"//tbody//tr/td[5][@class='left']")

for i in publisher_title:
    publisher=i.text
    publisher_tags.append(publisher)

In [14]:
genre_title=driver.find_elements(By.XPATH,"//tbody//tr/td[6][@class='last left']")

for i in genre_title:
    genre=i.text
    genre_tags.append(genre)

In [16]:
df=pd.DataFrame({"Book Name":book_tags,"Author Name":author_tags,"Volumes Sold":volumes_tags,"Publisher":publisher_tags,"Genre":genre_tags})

In [17]:
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [93]:
len(product_urls)

2

Q:8

In [4]:
driver.get("https://archive.ics.uci.edu/")

In [9]:
product_urls=[]
start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,"//ul[1][@class='menu menu-horizontal']/li[1]/a[1]")
    for i in url:
        product_urls.append(i.get_attribute("href"))

In [10]:
len(product_urls)

1

In [11]:
for url in product_urls:
    driver.get(url)
    time.sleep(10)

In [42]:
dataset_tags=[]
datatype_tags=[]
task_tags=[]
attribute_tags=[]
instances_no_tags=[]
attributes_no_tags=[]
year_tags=[]

In [43]:
dataset_title=driver.find_elements(By.XPATH,"//h2[@class='truncate text-primary']")

for i in dataset_title:
    dataset=i.text
    dataset_tags.append(dataset)

In [44]:
datatype_title=driver.find_elements(By.XPATH,"//div[1][@class='my-2 hidden gap-4 md:grid grid-cols-12']//div[2]/span")
for i in datatype_title:
    datatype=i.text
    datatype_tags.append(datatype)

In [45]:
task_title=driver.find_elements(By.XPATH,"//div[1][@class='my-2 hidden gap-4 md:grid grid-cols-12']//div[1]/span")

for i in task_title:
    task=i.text
    task_tags.append(task)

In [46]:
attribute_title=driver.find_elements(By.XPATH,"//tbody[@class='border']//tr/td[2]")

for i in attribute_title:
    attribute=i.text
    attribute_tags.append(attribute)

In [47]:
year_title=driver.find_elements(By.XPATH,"//tbody[@class='border']//tr/td[3]")

for i in year_title:
    year=i.text
    year_tags.append(year)

In [48]:
instances_no_title=driver.find_elements(By.XPATH,"//div[1][@class='my-2 hidden gap-4 md:grid grid-cols-12']//div[3]/span")

for i in instances_no_title:
    instances=i.text
    instances_no_tags.append(instances)

In [49]:
attribute_no_title=driver.find_elements(By.XPATH,"//div[1][@class='my-2 hidden gap-4 md:grid grid-cols-12']//div[4]/span")

for i in attribute_no_title:
    attribute=i.text
    attributes_no_tags.append(attribute)

In [53]:
print(len(dataset_tags),len(datatype_tags),len(task_tags),len(attribute_tags),len(instances_no_tags),len(attributes_no_tags),len(year_tags))

10 10 10 10 10 10 10

In [55]:
df=pd.DataFrame({"DataSet Name":dataset_tags,"Data Type":datatype_tags,"Task":task_tags,"Attribute Type":attribute_tags,"No of Instances":instances_no_tags,"No of Attributes":attributes_no_tags,"Year":year_tags})

In [56]:
df

,DataSet Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A