# Regular expression

In [1]:
import pandas as pd
import regex as re

import warnings
warnings.filterwarnings('ignore')

In [3]:
string='Data science, Machine learning, Data rangling, AI Tools.'
new_string=re.sub("[\s+,\.]",":",string)
new_string

'Data:science::Machine:learning::Data:rangling::AI:Tools:'

In [4]:
Dic={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data=Dic)

In [5]:
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [6]:
new_df=df['SUMMARY'].str.replace('[,!^X$^\d+:;\.]',"")

new_df=pd.DataFrame(data=new_df)
new_df

         SUMMARY
0    hello world
1           test
2  four five six

In [7]:
text=' work in a silence and your success will make noise '
reg=re.compile('\w{4}')
new_text=reg.findall(text)

print(new_text)

['work', 'sile', 'your', 'succ', 'will', 'make', 'nois']

In [24]:
text2='the world is beautifull enjoy your life and travelling around the world'
reg_new=re.compile('\w{3,5}')
new_text2=reg_new.findall(text2)
print(new_text2)

['the', 'world', 'beaut', 'ifull', 'enjoy', 'your', 'life', 'and', 'trave', 'lling', 'aroun', 'the', 'world']

In [38]:
web= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for i in web:
    pattern="[()]"
    reg_new=re.compile(pattern)
    remo=reg_new.sub("",i)
    print(remo)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

# Q:6

In [44]:
text=pd.read_csv("text_file.csv")
text

Empty DataFrame
Columns: [example (.com),  "hr@fliprobo (.com)",  "github (.com)",  "Hello (Data Science World)",  "Data (Scientist)"]
Index: []

In [46]:
new_text=re.sub(r"^([a-zA-Z])$",r"",text)
new_text

TypeError: expected string or buffer

# Q:7

In [32]:
y='DataScienceIsGood'
new_y=re.split("^\B[A-Z][a-z]$\B",y)
new_y

['DataScienceIsGood']

# Q:8

In [60]:
string='Regullar1AN3expresion'
pattern='\d+'
new=re.split(pattern,string)
new

['Regullar', 'AN', 'expresion']

# Q:9

In [62]:
v="theworld1Is2Most3Beautifull"
v

'theworld1Is2Most3Beautifull'

In [73]:

pattern="\d+"
new_v=re.sub(pattern,"0",v)

In [74]:
new_v

'theworld0Is0Most0Beautifull'

Q:10

In [3]:
df=pd.read_csv("country_name.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [19]:
pattern="(\w{6})"
df_new=df['Country'].str.extract(pattern,expand=True)

In [20]:
df_new

          0
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154     NaN
155     NaN
156  Burund
157     NaN

[158 rows x 1 columns]

In [25]:
df_new.columns

Int64Index([0], dtype='int64')

In [26]:
column_names=["first_five_letters"]
df_new.columns=column_names

In [27]:
df_new

    first_five_letters
0               Switze
1               Icelan
2               Denmar
3               Norway
4               Canada
..                 ...
153             Rwanda
154                NaN
155                NaN
156             Burund
157                NaN

[158 rows x 1 columns]

# Q:11

In [35]:
string="9 Daily_ Habits 21To Improve the _Health"
pattern='\w+'
new=re.findall(pattern,string)

In [36]:
new

['9', 'Daily_', 'Habits', '21To', 'Improve', 'the', '_Health']


# Q:12

In [63]:
string="14new movies and 20webseries "
pattern="[0-9]+\w+"
new=re.findall(pattern,string)

In [64]:
new

['14new', '20webseries']

# Q:13

In [4]:
df=pd.read_csv('data_data.csv')
df

Empty DataFrame
Columns: [On August 15th 1947 that India was declared independent from British colonialism,  and the reins of control were handed over to the leaders of the Country’.]
Index: []

In [20]:
pattern='A[\w]+\d+'
date=re.findall(pattern,df)

TypeError: expected string or buffer

In [36]:
text="On August 15th 1947 that India was declared independent from British colonialism,and the reins of control were handed over to the leaders of the Country"

In [38]:
pattern='[A-Z]+\s[0-9]+'
date=re.findall(pattern,text)
print(date)

[]

# Q:15

In [46]:
TEXT='The quick brown fox jumps over the lazy dog.'
pattern="brown|jumps|lazy"
new=re.findall(pattern,TEXT)
print(new)

['brown', 'jumps', 'lazy']

Q:16

In [50]:
string='The quick brown fox jumps over the lazy dog.'
pattern="dog"
new=re.search(pattern,string)
new

Q:17

In [54]:
string='Python exercises, PHP exercises, C# exercises'
pattern="exercises"
substring=re.findall(pattern,string)
substring

['exercises', 'exercises', 'exercises']

Q:18

In [67]:
string=['Python exercises',' PHP exercises',' C# exercises']

for word in string:
    search=re.search('exercises',word)
    print(search)

<regex.Match object; span=(7, 16), match='exercises'>
<regex.Match object; span=(5, 14), match='exercises'>
<regex.Match object; span=(4, 13), match='exercises'>

Q:20

In [7]:
text="01.12, 0132.123, 2.31875, 145.8, 3.01, 27.25, 0.25"
pattern='[0-9]+\.\d{1,2}'
reg=re.compile(pattern)
new=reg.findall(text)
print(new)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Q:21

In [13]:
digit=["24 banas and 5 apples","4 oranges instead of 2 pineapples","8 mangoes rotten and reamianing 2 fresh"]

for d in digit:
    numbers=re.search("(\d+)",d)
    print(numbers)

<regex.Match object; span=(0, 2), match='24'>
<regex.Match object; span=(0, 1), match='4'>
<regex.Match object; span=(0, 1), match='8'>

In [53]:
text="RegularExpressionIsAnImportantTopicInPython"
pattern=r"[A-Z]+"
t=re.sub(pattern,r" ",text)
t

' egular xpression s n mportant opic n ython'

Q:25

In [28]:
words="Hello hello world world"
r=re.findall("world$|Hello|hello",words)
r

['Hello', 'hello', 'world']

Q:26

In [65]:
string='Einstine was54 scientist 21who gave the theory of 1234relativity'
F=re.search("\w+$",string)
print(F)

<regex.Match object; span=(50, 64), match='1234relativity'>

Q:27

In [89]:
string="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern="(#\w+)"
T=re.findall(pattern,string)
T

['#Doltiwal', '#xyzabc', '#Demonetization']

In [88]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [90]:
new=re.sub("<[\w]>","",text)
new

'@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders'

In [91]:
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [92]:
pattern="<[\w]>"
new=re.compile(pattern)
new_text=new.sub("",text)
new_text

'The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'